@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-slate-950 bg-stone-50;
}

a {
    @apply text-indigo-900;
}

.highlighter-pink {
	@apply underline decoration-8 decoration-pink-200/70;
	text-underline-offset: -8px;
	text-decoration-skip-ink: none;
}

.highlighter-yellow {
	@apply underline decoration-8 decoration-yellow-200/70;
	text-underline-offset: -8px;
	text-decoration-skip-ink: none;
}

.blog-content {

	h1 {
		@apply font-sans text-2xl font-bold mb-6 mt-10;
	}
	
	h2 {
		@apply font-sans text-xl font-bold mb-6 mt-10;
	}

	h3 {
		@apply font-sans text-lg font-bold mb-6 mt-10;
	}

	h4 {
		@apply font-sans font-bold mb-6 mt-5;
	}

	h5 {
		@apply font-sans font-semibold mb-6;
	}

	h6 {
		@apply font-sans font-medium mb-6;
	}

	p {
		@apply mb-6 leading-loose;
	}

	a {
		@apply underline;
	}

	strong {
		@apply font-bold;
		@extend .highlighter-pink;
	}

	em {
		@apply not-italic;
		@extend .highlighter-yellow;
	}

	code {
		@apply inline-block font-mono rounded-sm text-sm mx-1 px-1 bg-slate-200;
	}

	blockquote {
		@apply mx-4 pl-8 py-3 pr-3 mb-6 border-l-2 border-gray-400 text-slate-800 bg-gray-100;
		position: relative;

		&:before {
			content: "\275D";
			position: absolute;
			left: 0.5rem;
			top: 0rem;
		}

		p:last-child {
			@apply mb-0;
		}
	}

	table {
		@apply mb-6;
		border-top: 1px solid rgb(2 6 23);
		border-bottom: 1px solid rgb(2 6 23);

		th {
			border-bottom: 2px double rgb(2 6 23);
		}

		td {
			@apply px-4 py-1;
		}
	}

	pre {
		@apply p-3 rounded-md mb-6 overflow-x-auto;

		code {
			@apply font-mono;
			color: inherit;
			background-color: transparent;
			border: none;
		}

	}

	ul {
		@apply list-disc mb-6 ml-10 leading-loose;

		ul {
			@apply mb-0 ml-5;
			list-style-type: circle;
		}
	}

	ol { 
		@apply list-decimal mb-6 ml-4 leading-loose;
		
		ol {
			@apply mb-0 ml-4;
			list-style-type: lower-alpha;
		}
	}

	.gatsby-resp-image-wrapper {
		@apply mb-6;
	}

	.blog-collapse {
		.blog-collapse {
			@apply ml-4
		}
	}

	.joubun {
		@apply bg-stone-100 border-l-2 border-stone-400 mx-4 px-4 mb-6 py-2;

		h4 {
			@apply mb-0;

			&:first-child {
				@apply mt-0;

			}
		}

		ol {
			list-style-type: decimal;
			&:last-child {
				@apply mb-0;
			}
			ol {
				@apply ml-4;
				list-style-type: cjk-ideographic;
				ol {
					@apply ml-4;
					list-style-type: katakana-iroha;
				}
			}
		}

		p:last-child {
			@apply mb-0;
		}
	}

	.kihan {
		@apply bg-sky-50 border-l-2 border-sky-300 mx-4 px-4 mb-6 py-2;
		h4 {
			@apply mt-0 mb-2;
		}
		p:last-child {
			@apply mb-0;
		}
	}
}